//Typography
html {
  
}
body {
  padding: 20px;
  background-color: $theme-brown;
  color: $theme-dark;
  font-weight: 400;
  @include breakpoint(small down) {
    padding: 10px;
  }
}

h2 {
  font-weight: 700;
  font-size: 2em;
  @include breakpoint(medium) {
    font-size: 2.5em;
  }
}

//Helpers
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: none;
}

//Placeholders
@mixin component-base($padding-bottom: 6em) {
  margin-top: $base;
  padding: 0 20px $padding-bottom 20px;
}

//Mixins
@mixin headerFigure($left: true) {
  position: relative;
  display: inline-block;
  &:before {
    background-image: url(../img/spray.svg);
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    @if $left {
      right: auto;
      left: -22px;
      transform: rotate(0deg);
    } @else {
      right: -22px;
      transform: rotate(90deg);
    }
  }
}




//404
.not-found {
  background: white;
  height: 100vh;
  h2 {
    color: $theme-dark;
  }
  a {
    color: $theme-red;
  }
}


