
//Topbar
.container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.4s ease;
    img {
      max-width: 140px;
    }
    .logo-dark {
      display: none;
    }
    &.panel {
      background: white;
      .topbar {
        a {
          color: $theme-dark;
        }
        .logo-white {
          display: none;
        }
        .logo-dark{
          display: block;
        }
  
      }
    }
    &.header-nav {
      z-index: 99999;
    }
  
    .topbar {
      height: calc(60px);
      width: 100%;
      position: relative;
      > .show {
        display: block !important;
        position: absolute;
        background-color: white;
        width: 100%;
        text-align: center;
        top: 59px;
        animation: fromRight 0.4s;
  
        &.top-menu {
          a {
            color: black;
          }
  
          ul {
            li {
              display: block;
              text-align: left;
              padding-top: 10px;
              padding-bottom: 10px;
              font-weight: 700;
            }
          }
        }
      }
  
      a {
        color: white;
        transition: color 0.3s ease;
      }
  
      .logo {
        font-size: 2em;
        font-weight: 700;
      }
      .top-menu {
        display: none;
        @include breakpoint(large) {
          display: block;
        }
        ul {
          text-align: right;
          margin: 0px;
          list-style: none;
        }
        li {
          display: inline-block;
          padding-left: calc(20px);
          text-transform: uppercase;
          @include breakpoint(large) {
            padding-left: calc(40px);
          }
        }
      }
    }
  }
  
  .mobile-menu {
    position: absolute;
    display: block;
    color: green;
    right: 20px;
    cursor: pointer;
    color: pink;
    @include breakpoint(large) {
      display: none;
    }
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  .footer {
    background: white;
    padding-top: 2em;
  }

  @keyframes fromRight {
    from {
      right: -500px;
    }
    to {
      right: 0px;
    }
  }
  