
#partners {
  background-color: white;
  @include component-base();
  h2 {
      @include headerFigure(true);
  }
  .partners-logos {
    padding-top: 6em;
    @include breakpoint(small down) {
      padding-top: 0px;
    }
  }
}

